<div class="col-12 ml-5">
    <div class="row ml-5">
        <p class="mot">
            <b>
                <%=mot.word%>
            </b> :
            <%=mot.definition%>.
        </p>
    </div>

    <div class="row ml-5">
        <form action="/like" method="POST">
            <button class="btn btn-success" name="like" type="submit" value="<%=mot.word%>">
                <i class="fas fa-thumbs-up"></i>
            </button>
        </form>

        <form action="/edit" method="POST">
            <button class="btn btn-warning" name="edit" type="submit" value="<%=mot.word%>">
                <i class="fas fa-edit"></i>
            </button>
        </form>

        <form action="/glossary" method="POST">
            <button class="btn btn-danger" name="deleted" type="submit" value="<%=mot.word%>">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </div>
</div>