<div class="col-12 ml-5">
    <div class="row ml-5">
        <p class="mot">
            <b id="title">
                <%=mot.word%>
            </b> :
            <%=mot.definition%>.
        </p>
    </div>

    <div class="row ml-5">
        <div class="col-12 px-0">
            <a href="#" data-toggle="modal" data-target="#modalAddlink">
                <button class="btn btn-sm btn-success" name="new" value="<%=mot.word%>">
                    <i class="fas fa-plus"></i>
                </button>
            </a>
            <b>Sources :</b>
        </div>
        <div class="col-12">
            <%#if(locals.link){%>
                <% links.forEach( link => { %>
                    <%- include('./link', {link: link}) %>
                        <% }); %>
                            <%#}%>
        </div>
        <%- include('../modals/addlink')%>
    </div>


    <div class="row ml-5">
        <a href="#" data-toggle="modal" data-target="#modalEditpost">
            <button class="btn btn-sm btn-warning" name="edit" value="<%=mot.word%>">
                <i class="fas fa-edit"></i>
            </button>
        </a>

        <form action="/glossary" method="POST">
            <button class="btn btn-sm btn-danger" name="deleted" type="submit" value="<%=mot.word%>">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </div>
</div>