<%- include('./parts/head') %>
    <%- include('./parts/header') %>
    
    <div class="blank_row row"></div>

            <div class="row mx-0">

                <div class="col-lg-2"></div>

                <div class="paper col-lg-8">
                    <div id="texture">
                    </div>

                    <div class="lines">
                        <div class="lines2"></div>


                        <div id="glossary">

                            <!-- <div class="inner-hard-cover"></div> -->
                            <!-- <div id="" class="hard-cover frontc"><div class="etiquette"></div></div> -->

                            <header class="row">

                            </header>
                            <div id="content" class="row">

                                <!-- <div class="inner-hard-cover"></div> -->




                                <!-- /////////////// INDEX //////////////////// -->



                                <!-- /////////////// # //////////////////// -->
                                <!-- <div id="page-#" class="row">
                                <div class="row">
                                        <div class="col"><h1>GLOSSAIRE</h1></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <h2>Un glossaire c'est bien!</h2>
                                            Un glossaire rempli, c'est mieux.
                                        </p>
                                    </div>     
                                </div>
                            </div> -->
                                <!-- /////////////// # //////////////////// -->



                            </div>



                            <footer class="row">
                                <img src="img/logo.png" id="logoSimplon" alt="logoSimplon">
                                <p>Simplon 2018</p>
                                <p>Valentin, Christopher, Geoffrey, Vanessa</p>
                            </footer>

                        </div>

                        <%- include('./elements/booklets') %>

                        <!-- <div class="inner-hard-cover"></div> -->
                        <div class="hard-cover"></div>

                        <%- include('./elements/rings') %>


                    </div>

                </div>

                <div class="col-lg-2"></div>

            </div>

            <div class="blank_row row"></div>

        <%- include('./parts/footer') %>