<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <div class="blank_row row"></div>

        <div class="row mx-0">

            <div class="col-lg-2"></div>

            <div class="paper col-lg-8 pl-0 pr-4">
                <div class="hard-cover">


                </div>

                <div id="texture pr-4">
                </div>

                <div class="lines">
                    <div class="lines2"></div>


                    <div id="glossary">

                        <!-- <div class="inner-hard-cover"></div> -->
                        <!-- <div id="" class="hard-cover frontc"><div class="etiquette"></div></div> -->

                        <header class="row pb-5">

                        </header>
                        <div id="content" class="row">
                            <a href="/glossary/<%=mot.word%>">
                                <p class="mot">
                                    <b><%=mot.word%></b> :
                                        <%=mot.definition%>.
                                </p>
                            </a>

                            <form action="/glossary" method="POST">
                                <button name="deleted" type="submit" value="<%=mot.word%>">Supprimer un mot</button>
                            </form>
                        </div>
                        <!-- <footer class="row">
                            <img src="img/logo.png" id="logoSimplon" alt="logoSimplon">
                            <p>Simplon 2018</p>
                            <p>Valentin, Christopher, Geoffrey, Vanessa</p>
                        </footer> -->

                    </div>

                    <%- include('./elements/booklets') %>

                        <!-- <div class="inner-hard-cover"></div> -->

                        <%- include('./elements/rings') %>


                </div>

            </div>

            <div class="col-lg-2"></div>

        </div>

        <div class="blank_row row"></div>

        <%- include('./parts/footer') %>